@charset "UTF-8";
/***************
  CSS Reset
****************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, td, th {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

:focus {
  outline: 0;
}

address, caption, cite, code, dfn, th, var, optgroup {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code, kbd, samp, tt {
  font-size: 100%;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
  *font-size: 100%;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

sup, sub {
  font-size: 100%;
  vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/*End CSS reset*/
/**********
 layout
 ************/
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
/*End layout*/
body {
  font: 12px/24px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  color: #666666;
}

a:link, a:visited {
  color: #666666;
}

a:hover, a:active {
  color: #0d3973;
}

.header {
  width: 100%;
  border-top: 5px solid #e7d29d;
  height: 110px;
}

.in-header {
  width: 980px;
  overflow: hidden;
  height: 110px;
  margin: 0 auto;
}

.main {
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}

.banner {
  width: 100%;
  background: #b7302e;
  overflow: hidden;
}

.in-banner {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.topnews {
  width: 100%;
  height: 70px;
  background: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
}

.in-topnews, .main-1 {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.main-1 {
  padding-top: 34px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 30px;
}

.main-2 {
  width: 1066px;
  margin: 0 auto;
  overflow: hidden;
}

.footer {
  width: 100%;
  overflow: hidden;
}

.main {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 26px 0;
}

.main-r {
  width: 730px;
  float: right;
  overflow: hidden;
}

.main-l {
  width: 230px;
  overflow: hidden;
  float: left;
}

.logo {
  width: 400px;
  height: 60px;
  padding-top: 26px;
  float: left;
}

.add {
  float: right;
  width: 220px;
  overflow: hidden;
}

.fav {
  width: 146px;
  height: 30px;
  line-height: 30px;
  background: #e7d29d;
  border-radius: 0 0 5px 5px;
  float: right;
  text-align: center;
  color: #835b24;
}

.fav a {
  color: #835b24;
}

.tel {
  float: right;
  background-image: url('/images/imgtel.jpg?1413722696');
  background-position: 0 center;
  background-repeat: no-repeat;
  line-height: 30px;
  color: #555;
  font-family: verdana;
  padding-left: 34px;
  margin-top: 26px;
  font-size: 20px;
}

.nav {
  height: 48px;
  width: 100%;
  background-image: url('/images/bgnav.jpg?1413725154');
  border-radius: 0 0 5px 5px;
}
.nav ul {
  width: 700px;
}
.nav ul li {
  float: left;
  width: 100px;
  line-height: 48px;
  font-size: 14px;
  font-family: "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  text-align: center;
  background-image: url('/images/bgnavli.jpg?1413725175');
  background-position: right 0;
  background-repeat: no-repeat;
}
.nav ul li a {
  color: #4d2d01;
}
.nav ul li a:hover {
  color: #3947a3;
}

.search {
  width: 180px;
  height: 28px;
  background: #fff;
  float: right;
  margin: 11px 15px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ipt-submit {
  float: right;
  width: 14px;
  height: 14px;
  background-image: url('/images/iconsearch.jpg?1413726098');
  margin: 7px 10px 0 0;
  cursor: pointer;
  border: 0;
}

.ipt-keyword {
  width: 135px;
  padding-left: 10px;
  line-height: 28px;
  float: left;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ban {
  padding: 10px;
  margin: 20px 0 30px 0;
  background: #fff;
  width: 960px;
  height: 300px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.topnews-l, .topnews-m, .topnews-r {
  float: left;
}

.topnews-l {
  width: 164px;
  padding-top: 26px;
}

.topnews-r a {
  color: #b7302e;
  font-size: 13px;
  font-family: "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  line-height: 70px;
}

.Public-JC {
  width: 960px;
  height: 300px;
  overflow: hidden;
}

.main-1-r {
  float: right;
  width: 296px;
}
.main-1-r span {
  display: block;
  line-height: 30px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 13px;
}
.main-1-r span i {
  background-image: url('/images/icon.png?1413903357');
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-right: 6px;
}

.h-title {
  padding-bottom: 16px;
}

.add {
  background-position: 0 0;
}

.user {
  background-position: -14px 0;
}

.tel1 {
  background-position: -28px 0;
}

.email {
  background-position: -42px 0;
}

.main-1-l {
  width: 630px;
  float: left;
}
.main-1-l dl {
  overflow: hidden;
  width: 100%;
}
.main-1-l dl dt {
  float: right;
  width: 400px;
  font-size: 13px;
}
.main-1-l dl dt span {
  color: #b7302e;
}
.main-1-l dl dd {
  float: left;
  width: 216px;
  height: 156px;
}

.pro-title {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 20px;
}

/**********
start video
**********/
.v_caption {
  height: 30px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 183px;
}

.highlight_tip {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 999;
}

.prev,
.next {
  cursor: pointer;
  width: 17px;
  height: 30px;
  font-size: 14px;
  line-height: 14px;
  text-indent: -9999px;
  display: inline-block;
  *dispyay: inline;
  *zoom: 1;
}

.prev {
  background: url("../images/icon.png") no-repeat 0 -14px;
  float: left;
}

.next {
  background: url("../images/icon.png") no-repeat -17px -14px;
  float: right;
}

.video_show {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video_content {
  position: relative;
  width: 980px;
  height: 456px;
  overflow: hidden;
  margin-left: 43px;
}

.video_content_list {
  position: absolute;
  width: 25000px;
  top: 0px;
  left: 0px;
}

.video_content ul {
  float: left;
  width: 1000px;
  height: 456px;
  overflow: hidden;
}

.video_content ul li {
  display: inline;
  float: left;
  width: 230px;
  margin-right: 20px;
  color: #333;
  font: normal 12px/24px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  text-align: center;
}
.video_content ul li span {
  display: block;
}

.video_content ul li img {
  width: 220px;
  height: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 4px;
}

.video_content ul li img:hover {
  border: 5px solid #e7d29d;
  padding: 0;
}

/**********
end video
**********/
.footer-1 {
  width: 100%;
  height: 40px;
  background: #e1af69;
}
.footer-1 div {
  width: 980px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 13px;
  color: #6f4a17;
}
.footer-1 div a {
  color: #6f4a17;
}

.footer-2 {
  background: #b7302e;
  width: 100%;
  padding: 20px 0;
}
.footer-2 div {
  width: 980px;
  margin: 0 auto;
  font-size: 13px;
  color: #f69e9c;
  text-align: center;
}
.footer-2 div a {
  color: #f69e9c;
}

.column {
  width: 100%;
  overflow: hidden;
  border-bottom: 4px solid #e8e8e8;
}
.column h2 {
  padding-left: 18px;
  width: 212px;
  height: 52px;
  background-image: url('/images/bgcolumnh2.jpg?1413981421');
  font-size: 18px;
  font-weight: bold;
  line-height: 52px;
  color: #fff;
}
.column ul {
  overflow: hidden;
  width: 100%;
}
.column ul li {
  width: 100%;
  float: left;
}
.column ul li a {
  display: block;
  padding-left: 16px;
  width: 214px;
  line-height: 46px;
  font-size: 14px;
  font-weight: bold;
  background-image: url('/images/bgcolumnli.jpg?1413981525');
}
.column ul li a:hover {
  color: #b7302e;
  background-image: url('/images/bgcolumnhover.jpg?1413981525');
}

.column ul li.hover a {
  color: #b7302e;
  background-image: url('/images/bgcolumnhover.jpg?1413981525');
}

.main-r-h2 {
  width: 728px;
  border: 1px solid #e8e8e8;
  border-top: 4px solid #d4d0cb;
  background-image: url('/images/bgmain2h2.jpg?1413983148');
  height: 47px;
  line-height: 46px;
}

.current {
  float: left;
  width: 200px;
  padding-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.position {
  float: right;
  background-image: url('/images/iconH.png?1413983332');
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 18px;
  padding-right: 20px;
}

.about {
  min-height: 500px;
  overflow: hidden;
  width: 694px;
  padding: 10px 17px;
  font-size: 14px;
  line-height: 26px;
}
.about p {
  margin: 12px 0;
}
.about h2 {
  font-size: 16px;
  font-weight: bold;
  color: #b7302e;
  line-height: 40px;
}

.bd {
  border: 1px solid #e8e8e8;
  border-top: none;
}

.pro {
  width: 100%;
  overflow: hidden;
  min-height: 500px;
}
.pro ul {
  width: 750px;
  overflow: hidden;
}
.pro ul li {
  float: left;
  width: 230px;
  margin-right: 20px;
  margin-top: 20px;
  color: #333;
  font: normal 12px/24px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  text-align: center;
}
.pro ul li span {
  display: block;
}

.pro ul li img {
  width: 220px;
  height: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 4px;
}

.pro ul li img:hover {
  border: 5px solid #e7d29d;
  padding: 0;
}

.news {
  min-height: 500px;
  overflow: hidden;
  padding: 10px 18px;
  width: 692px;
}
.news dl {
  width: 100%;
  height: 96px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
}
.news dl dt {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.news dl dt span {
  font-family: arial;
  font-size: 12px;
  padding-left: 15px;
  font-weight: normal;
}
.news dl dt a:hover {
  color: #b7302e;
}
.news dl dd {
  color: #777777;
  line-height: 22px;
}

.NewsPage {
  margin: 20px 0;
  overflow: hidden;
}

.shownews img {
  max-width: 100%;
}

.class-title {
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: red;
}

.pl10 {
  padding-left: 10px;
}
